body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(Imagens/Fund6.png);
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Imagens/Fundo4.png);
    padding: 20px;
}
#tituloh1{
    text-align: center;
    margin: 0;
}
h2{
    text-align: center;
    background-color: rgb(226, 116, 135);
    margin: 0;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
}
.filmes-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}
.filme{
    background-color: rgb(212, 104, 122);
    border-radius: 12px;
    width: 140px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.filme img{
    width: 100px;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}
.filme:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.filme p{
    margin-top: 8px;
    font-weight: bold;
    color: white;
}
.logo{
    margin-left: 500px;
}
#creditos{
    background-color: rgb(226, 116, 135);
    margin-left: 640px;
    margin-right: 620px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
a{
    color:aliceblue;
}